@import 'styles';

$card-height: 500px;
$movie-poster-height: 312px;

.movie-card {
    margin: 2rem auto;
    position: relative;
}

.movie-title {
    background: $transparent-black;
    position: absolute;
    width: 100%;
    bottom: 49px;
}

.movie-poster {
    min-height: $movie-poster-height;
}
