@import "styles";

.person-detail {
  padding-top: 5%;
  @include fade-in(.2s);
}

.person-info {
  margin-top: 5%;
  .birthday {
    font-weight: $thin;
    font-size: 0.8rem;
    color: $dull-white;
  }

  .place-of-birth {
    color: $dull-white;
  }

  .also-known-as {
    font-style: italic;
    color: $dull-white;
  }

  .biography {
    color: $gold;
    @include fade-in(1s);
  }
}
