@import "styles";

.banner {
  @include fade-in(.5s);
  padding-top: 15%;
  height: 500px;
}

.movie-detail {
  @include fade-in(.5s, .5s);

  background: $transparent-black;
  text-align: left;
  padding: 1%;
  min-height: 250px;

  .runtime {
    color: $dull-white;
  }

  .tagline {
    font-style: italic;
    color: $dull-white;
  }

  .overview {
    @include fade-in(1s, 1s);

    color: $gold;
  }
}
