@import "styles";

.banner {
  @include fade-in(0.5s);

  padding-top: 100px;
  height: 500px;
  overflow: auto;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .banner {
    padding-top: 200px;
  }
}

.movie-detail {
  @include fade-in(0.5s, 0.5s);

  background: $transparent-black;
  text-align: left;
  padding: 1%;
  min-height: 250px;

  .runtime {
    color: $dull-white;
  }

  .tagline {
    font-style: italic;
    color: $dull-white;
  }

  .overview {
    @include fade-in(1s, 1s);

    color: $gold;
  }
}
