@import 'styles';

$person-poster-height: 250px;

.person-card {
    margin: 2rem auto;
    position: relative;
}

.person-title {
    background: $transparent-black;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.person-poster {
    min-height: $person-poster-height;
}
